MQTT_BROKER=broker-url.com
MQTT_PORT=8883
MQTT_TOPIC=topic
MQTT_USERNAME=username
MQTT_PASSWORD=password

INFLUXDB_URL=http://127.0.0.1:8181
INFLUXDB_DATABASE=dbname
INFLUXDB_TOKEN=superduperlongtoken
